version: '3.7'
services:


  redis:
    image: 'redis'
    ports:
      - "6379:6379"

  auth-ms:
    container_name: auth-ms
    build:
      context: ./auth-ms
      target: development
    links:
      - redis
    depends_on:
      - redis

    volumes:
      - ./auth-ms/src:/usr/src/app/src
      - ./auth-ms/dist:/usr/src/app/dist
#      - /usr/src/app/node_modules
    ports:
      - "3003:3000"
    command: npm run start:dev
  boatbutler:
    build:
      context: ./boatbutler
      target: development
    volumes:
      - ./boatbutler/src:/usr/src/app/src
      - ./boatbutler/dist:/usr/src/app/dist
#      - /home/node/app/node_modules
    ports:
      - "3000:3000"
    links:
      - redis
      - auth-ms
#    command: npm run start:dev
    depends_on:
      - redis
      - auth-ms
    command: npm run start:dev
  jobms:
    build:
      context: ./jobms
      target: development
    volumes:
      - ./jobms/src:/usr/src/app/src
      - ./jobms/dist:/usr/src/app/dist
    links:
      - redis
      - auth-ms
    depends_on:
      - redis
      - auth-ms
    command: npm run start:dev

  userms:
#    image: wiredelta-codechallenge_userms
    container_name: userms
    build:
      context: ./userms
      target: development
    links:
      - redis
      - auth-ms
    depends_on:
      - redis
      - auth-ms
    volumes:
      - ./userms/src:/usr/src/app/src
      - ./userms/dist:/usr/src/app/dist
#      - /usr/src/app/node_modules
    ports:
      - "3002:3000"
    command: npm run start:dev

